:root {
  --main-color: #111227;
  --secondary-color: #211440;
  --secondary-color-hover: #321f5f;
  --third-color: #282c51;
  --third-color-hover: #373c68;
  --link-text: #f7bb97;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #191c1f;
  --black: #000;
  --error: hsl(0, 83%, 61%);
  --error-hover: hsl(0, 100%, 74%);
  --gradient: linear-gradient(to right, #dd5e89 0%, #f7bb97 51%, #dd5e89 100%);
}

body {
  background-color: var(--black);
  color: var(--white);
}

section {
  padding: 6em 0;
}

@media (max-width: 600px) {
  section {
    padding: 2em 0;
  }
}
