.main-nav {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  padding: 2rem 1.25rem;
  padding-top: 2.5rem;
  font-size: 0.875rem;
  background-color: var(--secondary-color);
  color: #fff;
}

.hide-nav {
  display: none;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  margin-right: 1rem;
  padding-bottom: 0.625rem;
}

.navbar-logo {
  margin-right: 0.8rem;
  transform: scale(1.6);
}

.navbar-middle {
  display: block;
}

.pull-left {
  flex: 1;
  margin-left: 1.25rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-links li {
  padding: 0 0.75rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.navbar-middle .nav-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

.navbar-middle li .nav-link:after {
  display: block;
  margin: 0.125rem auto 0;
  content: "";
  width: 0;
  height: 3px;
  background: var(--gradient);
  transition: width 0.3s ease;
}

.navbar-middle li .nav-link:hover:after {
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right > .nav-link {
  padding-bottom: 0.25rem;
}

@media (max-width: 900px) {
  .navbar-logo-container {
    padding-bottom: 0;
  }

  .navbar-middle {
    display: none;
  }

  .navbar-right > .nav-link {
    padding-bottom: 0;
  }
}
