.chat-container {
  padding-top: 1rem;
  background-color: var(--black);
  width: 92%;
  max-width: 1280px;
  margin: auto;
}

.chat-main {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  .chat-container {
    padding-top: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .chat-main {
    display: block;
    margin: 0;
  }
}
